@model IEnumerable<ProjetoRussia.Core.Models.Selecao>

@{
    ViewData["Title"] = "Lista de Seleção";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Cadastrar nova seleção</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SelecaoId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SelecaoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { selecaoId = item.SelecaoId }) |
                @Html.ActionLink("Detalhes", "Details", new { selecaoId = item.SelecaoId }) |
                @Html.ActionLink("Cadastrar jogador", "CadastrarJogador", new { selecaoId = item.SelecaoId }) |
                @Html.ActionLink("Excluir", "Delete", new { selecaoId = item.SelecaoId })
            </td>
        </tr>
}
    </tbody>
</table>
